html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: helvetica, sans-serif;
  line-height: 1.3;
  color: #2b2b2b;
  background: #FBFCFC;
  font-size: 110%;
}

a {
  color: #F1853D;
  text-decoration: none;
}

button {
  background: #F1853D;
  border: 0;
  color: #fff;
  padding: 13px 30px;
  font-size: 1.35em;
}

input,textarea {
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset[disabled], button[disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

nav ul {
  list-style: none;
}

@media screen and (max-width: 650px) {
  body {
    font-size: 95%;
  }
}

#wrapper {
  height: 100%;
}

.input-wrapper {
  margin: 10px 0;
}

.input-wrapper input, .input-wrapper textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.input-wrapper textarea {
  height: 150px;
}

.input-wrapper-secret {
  display: none;
}

.top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: fixed;
  width: 100%;
  padding: 11px 0;
  z-index: 2; /* FF3.6+ */
  -webkit-transition: background 300ms ease;
          transition: background 300ms ease;
}

.top-bar.after-fold {
  background: #FBFCFC;
}

.top-bar h1 {
  font-size: 1.35rem;
  color: #fff;
  background: #282928;
  display: inline-block;
  padding: 5px 10px;
  margin-left: 20px;
}

.top-bar .logo {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* NAVIGATION */

.header-nav-wrapper {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.header-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 19px 0 0;
  height: 70px;
}

.header-nav-list-item {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.header-nav-list-item-link {
  font-size: 1.35rem;
  font-weight: 100;
  padding: 5px 0;
  margin-left: 40px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

.header-nav-list-item-link.active {
  border-bottom: 5px solid #F1853D;
}

.header-nav-list-item-link.after-fold {
  color: #282928;
}

.header-nav-list-item-link.hire-us-link {
  background-color: #F1853D;
  padding: 5px 13px;
  font-weight: 500;
}

/* MENU BUTTON */

.menu-toggle {
  display: none;
  margin-top: 15px;
  margin-right: 18px;
  position: relative;
  width: 51px;
  height: 51px;
  background: transparent;
  cursor: pointer;
}
.menu-toggle .bar {
  position: absolute;
  width: 35px;
  height: 5px;
  background: #DFDDD7;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}
.menu-toggle.after-fold .bar {
  background: #282928;
}
.menu-toggle .bar:nth-child(1) {
  left: 5px;
  top: 4px;
}
.menu-toggle .bar:nth-child(2) {
  left: 5px;
  top: 16px;
}
.menu-toggle .bar:nth-child(2):after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 5px;
  background: #DFDDD7;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}
.menu-toggle.after-fold .bar:nth-child(2):after {
  background: #282928;
}
.menu-toggle .bar:nth-child(3) {
  right: 11px;
  top: 28px;
}
.menu-toggle.open .bar:nth-child(1),
.menu-toggle.open .bar:nth-child(3) {
  width: 0;
}
.menu-toggle.open .bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-toggle.open .bar:nth-child(2):after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* END MENU BUTTON */

@media all and (max-width: 805px) {
  .top-bar h1 {
    font-size: 1.2rem;
    margin: 15px 0 15px 20px;
  }
  .menu-toggle {
    display: inline-block;
  }
  .header-nav-wrapper {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    height: auto;
    display: none;
  }
  .header-nav-list {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    height: auto;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .header-nav-list-item {
    width: 100%;
    text-align: center;
    background: #DFDDD7;
  }
  .header-nav-list-item-link {
    display: inline-block;
    padding: 15px 0;
    margin-left: 0;
    width: 100%;
    color: #554F4E;
  }
  .header-nav-list-item-link:hover {
    color: #282928;
  }
  .header-nav-list-item-link.active {
    border-bottom: none;
  }
  .header-nav-list-item-link.hire-us-link {
    background-color: #F1853D;
    padding: 15px 0;
  }
}

/* END NAVIGATION */

.splash-image {
  color: #fff;
  font-size: 1.35rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 350px;
  height: 50vh;
  background: url("http://res.cloudinary.com/piggybank/image/upload/v1444888085/bridge_hkp6iq.jpg") no-repeat center/cover;
  background-size: cover;
}

.big-splash {
  height: 100vh;
  padding: 0 20px 0;
  overflow: hidden;
  position: relative;
}

.big-splash-inner-wrapper {
  width: 565px;
  margin: 0 auto;
  text-align: center;
}

.site-image-hide {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.tag {
  margin: 0;
  padding: 5px 10px;
  background-color: #282928;
  display: inline-block;
}

.tag-1-wrapper {
  text-align: left;
}

.tag-1 {
  font-size: 2.4rem;
  font-weight: 100;
  text-align: left;
}

.tag-2-wrapper {
  text-align: right;
}

.tag-2 {
  font-size: 3rem;
  margin-top: 7px;
}

.tag-button {
  font-size: 2.75rem;
  font-weight: bold;
  padding: 7px 15px;
  margin: 60px auto 0;
  display: inline-block;
  background: #F1853D;
  color: #fff;
}

.fold-icon {
  width: 80px;
  height: 80px;
  z-index: 0;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 40px);
  -webkit-animation: bounce 4s infinite;
          animation: bounce 4s infinite;
}

@-webkit-keyframes bounce {
  0%, 15%, 30%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 15%, 30%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media screen and (max-width: 700px) {
  .big-splash-inner-wrapper {
    width: 465px;
  }
  .tag-1 {
    font-size: 2.0rem;
  }
  .tag-2 {
    font-size: 2.5rem;
  }
  .tag-button {
    font-size: 2.5rem;
  }
}


@media screen and (max-width: 500px) {
  .big-splash-inner-wrapper {
    width: 400px;
  }
  .tag-1 {
    font-size: 1.7rem;
  }
  .tag-2 {
    font-size: 2.1rem;
  }
  .tag-button {
    font-size: 2.1rem;
  }
}


@media screen and (max-width: 400px) {
  .big-splash-inner-wrapper {
    width: 100%;
  }
  .tag-1 {
    font-size: 1.5rem;
  }
  .tag-2 {
    font-size: 1.75rem;
  }
  .tag-button {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 350px) {
  .big-splash-inner-wrapper {
    width: 100%;
  }
  .tag-1 {
    font-size: 1.25rem;
  }
  .tag-2 {
    font-size: 1.4rem;
  }
  .tag-button {
    font-size: 1.55rem;
  }
}

.component-wrapper {
  padding: 0 30px;
}

.component-wrapper h2 {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.component-wrapper h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.component-wrapper h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
  line-height: 0.9;
}

.component-wrapper h5 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 5px 0;
  color: #5F5F5F;
}

.component-wrapper p {
  font-weight: 100;
}

.component-description, .business-list-item-description {
  margin-top: 10px;
}

#who-we-are {
  margin-top: 100px;
}

.team-photo {
  height: 150px;
  width: 150px;
  float: left;
  margin: 8px 10px 0 0;
}

.team-list-item-description {
  margin: 0 25px 0 0;
  line-height: 1.3rem;
}

@media screen and (max-width: 850px) {
  #who-we-are .component-list-item {
    width: 100%;
    padding: 0;
    margin: 0 0 30px 0;
  }

  #who-we-are .team-photo {
    margin: 3px 15px 0 0;
  }
}


@media screen and (max-width: 650px) {
  #who-we-are .component-list-item {
    margin: 10px 0 30px 0;
  }

  #who-we-are .team-photo {
    float: none;
    margin: 0 0 15px 0;
  }
}

.component-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between
}

.component-list-item {
  width: calc(50% - 20px);
  margin: 0 0 20px 0;
  padding: 0 10px 0 0;
}

.component-list-item-title {
  margin: 5px 0 5px;
}


#what-we-do {
  margin-top: 60px;
}

@media screen and (max-width: 700px) {
  #what-we-do .component-list-item {
    width: 100%;
  }
}

.social-links {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.social-link {
  display: inline;
  margin-right: 20px;
}

.social-link-image {
  width: 50px;
  height: 50px;
}

footer {
  padding: 15px;
  background: #282928;
  color: #fff;
}

.disclaimer-text {
  font-size: 11px;
  max-width: 450px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Disgusting, but required for that busted bitch IE */
  .top-bar .logo {
    display: inline-block;
    margin: 0 0 0 34px;
    height: 80px;
    background: url("http://res.cloudinary.com/piggybank/image/upload/v1435790581/yorkshire/piggybank-logo-IE.png") no-repeat center/contain;
  }
}

/**
 * WUFOOOOOOOO
 **/
.wufoo {
  max-width: 715px;
}

.wufoo form {
  margin: 0;
  padding: 0;
}

.wufoo .symbol {
  color: #ccc;
  font-weight: ;
  font-size: 25px;
  top:4px;
  position: relative;
}

.wufoo input[type=text], .wufoo input[type=email], .wufoo textarea {
  border: 2px solid #ccc;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.wufoo select {
  border: 2px solid #ccc;
  background: #fff;
  height: 30px;
  width: 100%;
}

.wufoo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wufoo li {
  margin: 0 0 12px;
}

.wufoo .req {
  color: #c00;
}

.wufoo .desc {
  font-weight: bold;
  display: block;
  margin: 15px 0 5px;
}

.wufoo .hide {
  height: 0;
  overflow: hidden;
}

.wufoo .full-name-inputs {
  display: flex;
}

.wufoo .fn {
  margin-right: 10px;
}

.wufoo .ln {
}

.wufoo .month, .wufoo .day, .wufoo .year {
  text-align: center;
  width: auto !important;
}

.wufoo .submit {
  margin-top: 10px;
  background: #F1853D;
  border: 0;
  color: #fff;
  padding: 13px 30px;
  font-size: 1.35em;
  font-weight: bold;
  width: 100%;
}

@media screen and (max-width: 715px) {
  #hire-us .component-list-item {
    width: 100%;
  }
}
