/*
Red/Teal
rgba(204, 40, 41, 1), #4ba58c
*/
/*
Grey-Blue

*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: MrEavesXLModOT-Reg, helvetica;
  line-height: 1.3;
  color:rgba(37,52,62, 1);
  background: #FBFCFC;
  font-size: 110%;
}

nav ul {
  list-style: none;
}

  body {
    font-size: 95%;
  }

h1, h2, h3, h4, h5, h6{
  font-family: MrEavesXLModOT-Bold;
}
h1{
  font-size:64px;
  font-family: MrEavesXLModOT-Bold;
}
h2{
  font-size:48px;
  font-family: MrEavesXLModOT-Bold;
}
h3{
  font-size:48px;
  font-family: MrEavesXLModOT-Bold;
}
h4{
  font-size:24px;
  font-family: MrEavesXLModOT-Bold;
}

p{
  font-size:18px;
}

/*Top Bar*/

.top-bar{
  padding:20px 0 20px 0;margin:0;
  width:100%;
  display:none;
  position:fixed;
  top:0;left:0;
  z-index:998;
  background:rgba(24,34,41, 1);
  border-bottom:1px solid rgba(47,62,72, 1);
}
.top-bar.after-fold{
  display:block;
  opacity:1;
}

.top-bar .inner-wrapper{
  max-width:1200px;
  display:block;
  margin:0 auto;
  padding:0;
}
.top-bar .inner-wrapper img.top-mark{
  text-align:left;
  color:#fff1ef;
  margin:0;padding:0;
  font-size:24px;
  float:left;
  width:30px;
  margin-right:15px;
  margin-top:-3px;
  display:inline-block;
  position:relative:
}
.top-bar .inner-wrapper p.logotype{
  font-family: MrEavesXLModOT-Bold;
  letter-spacing: 0.1em;
  text-transform:uppercase;
  font-weight:normal;
  text-align:left;
  color:#fff1ef;
  margin:0;padding:0;
  position:relative;
  top:4px;
  float:left;
}
.top-bar .inner-wrapper p.cta{
  text-align:right;
  color:#fff1ef;
  margin:5px 0 0 0;padding:0;
  font-size:16px;
  float:right;
  font-family: MrEavesXLModOT-Bold;
}
.top-bar .inner-wrapper p.cta a.btn-hire-us{
  font-size:14px;
  padding:6px 25px;
  background:rgba(204, 40, 41, 1).
  border:none;
  margin-left:10px;
}
/*BILLBOARD*/

.splash-image {
  color: #fff1ef;
  font-size: 1.35rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 550px;
  height: 50vh;
  background: url("../img/desk.jpg") no-repeat center/cover;
  background-size: cover;
}

.big-splash {
  height:100vh;
  padding: 0;
  magin:0;
  position: relative;
  border-top:5px solid  #52868e;

}

.big-splash div{
  width:100%;
}

.mark-2{
  width:100px;
  opacity:1;
  margin-bottom:25px;
  margin-left:-5px;
  opacity:1;
  position:absolute;
  bottom:60px;
  margin-left:-50px;
  opacity:0;
}
.mark{
  width:70px;
  opacity:1;
  margin-bottom:35px;
  margin-left:-15px;
  opacity:1;

}
.big-splash .logo{
  border:none;
  width:50px;
  height:50px;
  margin:0 auto;
  position:absolute;
  left:50%;
  margin-left:-40px;
  top: 30px;
  background: rgba(53,88,113,.5);
  height:80px;
  width:80px;text-align:center;
  display:none;
}
.big-splash .logo span{
  display:inline-block;
  position:relative;
  top:17px;
  font-family: MrEavesXLSanOT-Bold;
  font-weight:normal;
  left:1px;
  font-size:36px;
  letter-spacing:.05em;
  color: rgba(255,255,255,1);
}
.big-splash div h1{
color: #fff1efFF9;
letter-spacing: 0px;
line-height: 60px;
margin:0 0 20px 0;padding:0;
font-size: 120px;
color: #FFFFFF;
font-family: MrEavesXLModOT-Bold;
letter-spacing: 0;
}
.big-splash div h1 span.underscore{
  border-bottom:1px solid rgba(255,255,255,.4)
}
.big-splash div h2{
  /* UI Design, Engineeri: */
  font-family: MrEavesXLModOT-Reg;
  font-size: 18px;
  color: #fff1efFFF;
  letter-spacing: 0px;
  line-height: 48px;
  font-weight:normal;
  text-transform:uppercase;
  letter-spacing:.1em;
  margin: 35px 0 25px 0;
  opacity:1;
}

.big-splash div a.btn-more{
  display:block;
  position:absolute;
  bottom:25px;
  left:50%;
  margin-left:-25px;
  width:50px;height:50px;
  overflow:hidden;
  text-indent:-1000px;
  cursor:pointer;
  z-index:999;
}
.big-splash div a.btn-more span{
  display:block;
  width:50px;
  height:50px;
  marign:0;padding:0;
  overflow:hidden;
  text-indent:-999;
  background:url(../img/arrow-down.svg) no-repeat center center;
  background-size: 20px;
  opacity:.5;
}


@-webkit-keyframes bounce {
  0%, 15%, 30%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0%, 15%, 30%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  25% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.big-splash-inner-wrapper {
  background: rgba(255,138,0,.8);
  margin: 0 auto;
  padding:0;
  text-align: center;
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /*background: rgba(37,52,62,.5);*/
  background: rgba(226,23,82,.8);
  background: rgba(23,179,226,.8);
  background: rgba(37,52,62, .4);
  background: rgba(24,34,41, .85);
}

.site-image-hide {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.btn-hire-us{
  color:#fff1ef;
  padding:12px 40px;
  font-size:18px;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:.05em;
  background:  rgba(204, 40, 41, 1);
  border-radius:25px;
}
.btn-hire-us:hover{
  cursor:pointer;
  opacity:.95
}

/*STRUCTURE*/

.wide-block{
  margin:0;
  padding:0;
  text-align:center;
  display:inline-block;
  width:100%;
  margin:0;padding:0;

}

.wide-block .inner-wrapper{
  max-width:1200px;
  margin:0 auto;
  padding:0 25px;
}

/*INTRO BLOCK*/
#intro-block.wide-block{
  background:rgba(24,34,41, 1);
  color:#fff1ef;
  padding:0 0 125px 0;

}

#intro-block.wide-block .inner-wrapper{
  max-width:800px;
  margin:0 auto;
}

#intro-block.wide-block .inner-wrapper h3{
  font-size:48px;
  line-height:100%;
  font-family: MrEavesXLModOT-Bold;
  font-weight:normal;
  margin:100px 25px 25px;
}
#intro-block.wide-block h4{
  color:  #52868e;
  text-transform:uppercase;
  font-size:22px;
  letter-spacing:.05em;
  margin-bottom:20px;
}
#intro-block.wide-block .inner-wrapper  p{
  padding-bottom:25px;
  max-width:800px;
  margin:0 auto;
}
#intro-block.wide-block .inner-wrapper{
  max-width:1200px;
  margin:0 auto;
}

.inner-wrapper.services-blocks{
  display:inline-block;
  clear:both;
  padding-bottom:50px;
  border-radius:4px;
  padding:0;

}

.block-service{
  width:25%;
  position:relative;
}

.block-service.right{
  float:right;
  padding-left:21%;
  padding-right:4%;;
}
.block-service.left{
  float:left;
  padding-right:21%;
  padding-left:4%;
}
.block-service.left p{
}
.plus{
  top:95px;
  position:relative;
  height:0;
  font-size:48px;
}

.circle{
  top:0px;
  width:180px;
  height:180px;
  border-radius:50%;
  margin:0 auto;
  position:absolute;
  border:5px solid #52868e;
}
.circle img{
  position:absolute;
  width:30%;
  height:30%;
  margin-left:-15%;
  margin-top:34%;
  opacity:.6;
}

.block-service.left  .circle{
  right:35px;
  top:35px;
}
.block-service.right .circle{
  left:35px;
  top:35px;
}

/*WHO WE ARE*/
#who-we-are{
background:#f5f6f7;
padding:50px 0;
}
#who-we-are h3{
  margin:25px 0 15px 0;
}
#who-we-are p{
  margin-bottom:35px;
}
#who-we-are .inner-wrapper{
  display:block;
}

#who-we-are #team-wrapper{
}

#who-we-are #team-wrapper .team-member{
  width:33.3%;
  float:left;
  margin-bottom:25px
}
#who-we-are #team-wrapper .team-member img{
  width:200px;
  max-width:100%;
  border-radius:50%;
}

#who-we-are #team-wrapper .team-member h4{
  margin:15px 0 5px 0;
  padding:0;
  color:#555;
  color:#52868e;
  text-transform:uppercase;
  font-size:22px;
  letter-spacing:.05em;
}
#who-we-are #team-wrapper .team-member h5{
  margin:0 0 25px 0;
  padding:0;
  font-size:16px;
  letter-spacing:.05em;
  text-transform:uppercase;
  color:rgba(24,34,41, 1);

}
#who-we-are #team-wrapper .team-member p{
  font-size:16px;
  line-height:24px;
  margin:0 25px 50px;
  color:#555;
}

/*WHAT WE'RE BUILDING*/
#what-were-building{
  background:rgba(255,255,255,1);
  padding-bottom:50px;

}
#what-were-building .inner-wrapper{
  max-width:1000px;
}

#what-were-building #project-list .project-profile{
  width:50%;
  float:left;
  margin:25px 0 25px 0;
}
#what-were-building #project-list .project-profile:first-child{
  border-right:1px solid rgba(0,0,0,.05);
  width:49.9%;
}
#what-were-building #project-list .project-profile img{
  width:200px;
  max-width:80%;
  margin:0 auto;

}

#what-were-building #project-list .project-profile h4{
  margin:15px 0 5px 0;
  padding:0 25px;
  color:#555;
}
#what-were-building #project-list .project-profile h5{
  margin:0 0 25px 0;
  padding:0 50px;
  color:#555;

}
#what-were-building #project-list .project-profile p{
  font-size:16px;
  line-height:24px;
  margin:0 auto 20px;
  color:#555;
  width:300px;
  max-width:100%;
}

#what-were-building #project-list .project-profile a.btn{
  color:rgba(225, 73, 38, 1);
  font-size:16px;
  text-decoration:none;
  letter-spacing:.05em;
  border-bottom:1px solid rgba(225, 73, 38, .2);
  padding-bottom:2px;
}

.logo-container{
  display:block;
  height:100px;
  width:350px;
  padding: 10px 0;
  max-width:100%;
  text-align:center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
          margin:0 auto;
  background:rgba(255,255,255,1);
  margin-bottom:20px;
}

/*CTA BLOCK*/
#cta-block.wide-block{
  background:rgba(24,34,41, 1);
  color:#fff1ef;
  padding-top:15px;
}
#cta-block .inner-wrapper{
  padding-bottom:75px;
}
#cta-block .inner-wrapper h3{
  padding:-bottom:0;margin-bottom:0;
}
#cta-block .inner-wrapper p{
  margin:0 0 35px 0;padding:0;
}

/*FOOTER*/
footer{
  background:rgba(24,34,41, 1);
  border-top:1px solid rgba(82,134,142,.3);
  color:#52868e;
  padding:0;
  width:1000px;
  margin:0 auto;
  text-align:center;
}

#footer-wrapper{
  background:rgba(24,34,41, 1);
}

footer ul{
  margin: 35px 0 20px 0;padding:0;
  list-style:none;
}

footer ul.social li{
  margin:0;padding:0;
  display:inline-block;
}

footer ul.social li a{
  color:#52868e;
  text-decoration:none;
  margin:0;padding:0;
  margin: 0 10px;
}

footer .copyright{
  margin:0;padding:0;
  font-size:12px;
  padding-bottom:100px;
}
footer .copyright a{
  color:#52868e;
  display:inline-block;
  margin-top:5px;
}

footer .disclaimer-text{
  font-size:13px;
  letter-spacing: .02em;
  color:#ccc;
}

/*CONTACT FORM MODAL*/
#contact-form-modal{
  background:rgba(15,25,30, .9);
  position:fixed;
  z-index:999;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /*background: rgba(37,52,62,.5);*/
}

#hire-us{
  max-width:800px;
  display:block;
  margin:0 auto;
  background:rgba(24,34,41, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /*background: rgba(37,52,62,.5);*/
  color:#fff1ef;
  position:relative;
  max-height:100%;
  overflow:auto;
}

#hire-us ul{
  list-style:none;
  margin:0;padding:0;
}

#hire-us h3{
  text-align:center;
  font-size:72px;
  margin:50px 25px 0 25px;
  padding:0;
}
#hire-us p{
  text-align:center;
  padding:0 100px 25px 100px;
}
#hire-us p a{
  color:#efefef;
}

#hire-us .modal-dismiss-btn{
  position:absolute;
  top:0;right:0;
  font-size:24px;
  padding:10px 15px;
  font-family: MrEavesXLModOT-Reg;
  font-weight:normal;
  color:rgba(255,255,255,.1);
  cursor:pointer;
}



input,textarea {
  font-size: inherit;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

fieldset[disabled], button[disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

nav ul {
  list-style: none;
}

.input-wrapper {
  margin: 10px 0;
}

.input-wrapper input, .input-wrapper textarea {
  width: 100%;
  background:rgba(255,255,255,.1);
  border:none;
  padding: 10px;
  box-sizing: border-box;
}

.input-wrapper textarea {
  height: 100px;
}

.input-wrapper-secret {
  display: none;
}


/**
 * WUFOOOOOOOO
 **/
.wufoo {
  max-width: 700px;
  margin:0 auto;
}

.wufoo form {
  margin: 0;
  padding: 0;
}

.wufoo .symbol {
  color: #ccc;
  font-weight: ;
  font-size: 25px;
  top:4px;
  position: relative;
}

.wufoo input[type=text], .wufoo input[type=email], .wufoo textarea {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  background:rgba(255,255,255,.1);
  border:none;
}

.wufoo select {
  background: #fff1ef;
  height: 30px;
  width: 100%;
  background:rgba(255,255,255,.1);
  border:none;
  padding:15px;
}

.wufoo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wufoo li {
  margin: 0 0 12px;
}

.wufoo .req {
  color: #c00;
}

.wufoo .desc {
  font-weight: bold;
  display: block;
  margin: 15px 0 5px;
}

.wufoo .hide {
  height: 0;
  overflow: hidden;
}

.wufoo .full-name-inputs {
  display: flex;
}

@-moz-document url-prefix() {
  .wufoo .full-name-inputs {
    display: block;
  }

  .wufoo .ln {
    margin-top: 15px;
  }
}

.wufoo .fn {
  margin-right: 10px;
}

.wufoo .month, .wufoo .day, .wufoo .year {
  text-align: center;
  width: auto !important;
}

.wufoo .submit {
  margin-top: 10px;
  background: rgba(226,23,82,1);
  border: 0;
  color: #fff1ef;
  padding: 20px 30px;
  font-weight: bold;
  width: 100%;
  margin-bottom:50px;
  margin-top:25px;
  color: #fff1ef;
font-size: 18px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: .05em;
background: rgba(204, 40, 41, 1);
border-radius: 25px;
}

@media screen and (max-width: 1024px) {
  .big-splash div h1{
    font-size:72px;
    margin:0 0 0 0;
    line-height:100%;
  }
}

@media screen and (max-width: 768px) {
  .big-splash div h1{
    font-size:58px;
    line-height:100%;
  }
  #intro-block.wide-block .inner-wrapper h3{
    font-size:24px;
  }
}
